*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --weiboColor:#CD5D5C;
    --wxColor:#52D76C;
    --douyinColor:#000000;
    --bilibiliColor:#F76894;
    --whiteColor:#ffffff;
    --bgColor:#333;
    --navigationColor:#6B61D3;
}
body 
{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    background-color:var(--bgColor);
    overflow:hidden;
}
.container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transform:rotate(0deg);
    transition:all 0.3s linear;
    transform-origin: 0 0;
}
.container .content-container
{
    padding: 3em;
    width:40em;
    color: var(--whiteColor);
    letter-spacing:0.5px;
    overflow:auto;
}
.container .content-container h2
{
    margin: 20px 0;
    font-size: 2em;
}
.container .content-container span
{
    font-size:1.25em;
}
.container .content-container ul 
{
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.container .content-container ul li
{
    list-style:none;
    margin-right: 10px;
    border-radius: 50%;
    width:3em;
    height:3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container .content-container ul li:nth-child(1)
{
    background: var(--weiboColor);
}
.container .content-container ul li:nth-child(2)
{
    background: var(--wxColor);
}
.container .content-container ul li:nth-child(3)
{
    background: var(--bilibiliColor);
}
.container .content-container ul li:nth-child(4)
{
    background: var(--douyinColor);
}
.container .content-container ul li:nth-child(1):hover
{
    --whiteColor:#CD5D5C;
    --weiboColor:#fff;
}
.container .content-container ul li:nth-child(2):hover
{
    --whiteColor:#52D76C;
    --wxColor:#fff;
}
.container .content-container ul li:nth-child(3):hover
{
    --whiteColor:#F76894;
    --bilibiliColor:#fff;
}
.container .content-container ul li:nth-child(4):hover
{
    --whiteColor:#000;
    --douyinColor:#fff;
}
.icon {
    width: 2em;
    height: 2em;
    vertical-align: center;
    fill: var(--whiteColor);
    font-size:1em;
    overflow: hidden;
 }
 .navigation-menu-buttons
 {
    position: absolute;
    top: -7.5em;
    left: -7.5em;
    width:15em;
    height: 15em;
    background:var(--navigationColor);
    border-radius: 50%;
    transform:rotate(0deg);
    transition: all 0.3s linear;
    cursor: pointer;
    z-index: 10;
 }
 .navigation-menu-buttons .menu-button
 {
     position: absolute;
     right: 3em;
     bottom: 3em;
     height:3em;
     width:3em;
 }
 .navigation-menu-buttons .menu-button img
 {
     width:100%;
     height:100%;
 }
 .navigation-menu-buttons .cancel
 {
     left:3em;
     transform:rotate(90deg);
 }
 .navigation-active
 {
     transform:rotate(-90deg);
 }
.container .left-menu
{
    position: absolute;
    top: 0;
    left: -30em;
    width:30em;
    height:100%;
    background:linear-gradient(to bottom right,#7BA8CE,#E08BE4)
}
.container .left-menu ul
{
    position: absolute;
    bottom: 20%;
    right: 5em;
    transform:rotate(25deg);
}
.container .left-menu ul .left-menu-item
{
    list-style: none;
    transform: translateX(calc(var(--i) * 1em - 10em));
    font-size:1.25em;
    font-family: sans-serif;
    color: #F3D6FD;
    margin: 40px 0;
    transition: all 0.3s linear 0.3s;
    cursor:pointer;
}
.active
{
    transform:rotate(-25deg) !important;
    height:120%;
}
.container .left-menu ul .left-menu-item-active
{
    transform:translateX(calc(var(--i) * 1em)) !important;
}
.container .left-menu ul .left-menu-item:hover
{
    color: var(--whiteColor);
    text-shadow: 0 2px 4px #7F76E0;
    transition: all 0.3s linear;
}
@media (max-width: 768px){
    .navigation-menu-buttons
    {
        position: absolute;
        top: -5em;
        left: -5em;
        width:10em;
        height: 10em;
        background:var(--navigationColor);
        border-radius: 50%;
        transform:rotate(0deg);
        transition: all 0.3s linear;
        cursor: pointer;
        z-index: 10;
    }
    .navigation-menu-buttons .menu-button
    {
        position: absolute;
        right: 2em;
        bottom: 2em;
        height:2em;
        width:2em;
    }
    .navigation-menu-buttons .cancel
    {
        left:2em;
        transform:rotate(90deg);
    }
    .active
    {
        transform:rotate(-15deg) !important;
        height:120%;
    }
    .container .left-menu ul .left-menu-item-active
    {
        transform:translateX(calc(var(--i) * 1em + 1.25em)) !important;
    }
    .container .left-menu ul
    {
        position: absolute;
        bottom: 20%;
        right: 5em;
        transform:rotate(15deg);
    }
}